*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}


/*---utilidades---*/

.margenes-centrados{
    max-width: 80rem;
    margin-inline: auto;
    padding-inline: 3rem;
}
@media screen and (min-width: 150rem) {
    .margenes-centrados{
        max-width: 140rem;
    }
}

@media screen and (max-width: 600px) {
    .margenes-centrados{
        padding-inline: 1rem;
    }
}

.titulos{
    font-size: 34px;
}
@media screen and (max-width: 800px) {
    .titulos{
        font-size: 20px;
    }
}

.titulos-de-tarjetas{
    font-size: 14px;
    color: white;
    font-weight: 800;
}
@media screen and (max-width: 800px) {
    .titulos-de-tarjetas{
        font-size: 10px;
    }
}



/* -------------------PRIMERA PARTE--------------------*/



.main-header{
    background-color: #472E56;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@media screen and (max-width: 600px) {
    .navbar{
        flex-direction: column;
    }
}

.logo{
    width: 100px;
    cursor: pointer;
    margin: 30px 0;
}

.barra_principal{
    display: flex;
    text-align: right;
    font-weight: 600;
}

.barra_principal_1{
    background-color: #FF7777;
    padding: 0.5rem;
    padding-left:3rem;
    padding-right: 3rem;
    border-radius: 3rem;
}
@media screen and (max-width: 600px) {
    .barra_principal_1{
    padding-left:1rem;
    padding-right:1rem;
    display: inline-block;
    }
}

.barra_principal ul li {
    list-style: none;
    display: inline-block;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
}
@media screen and (max-width: 600px) {
    .barra_principal ul li{
    padding-inline: .5rem;
    }
}


.barra_principal ul li a{
    text-decoration: none;
    color: white;
    font-size:14PX;
}

.barra_principal ul li::after {
    content: '';
    width: 0%;
    height:4px;
    background: #472E56;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.barra_principal ul li:hover::after{
    width: 100%;
}


/*-----------------BANNER------------------*/


.main-banner{
    background-color: #472E56;
    display: flex;
}
@media screen and (max-width: 800px){ 
    .main-banner{
        padding-block: 2rem;
        overflow: hidden;
    }
}

.main-banner .columna_1 h1{
    text-align: center;
    margin-bottom: 2rem;
    color: white;
}

.plataformas li{
    margin-bottom: 1rem;
    gap: 2rem;
    padding-bottom: 0.8rem;
    padding-top: 1rem;
    background-color: #FF7777;
    padding-left:3rem;
    padding-right: 3rem;
    border-radius: 3rem;
}
@media screen and (max-width: 600px) {
    .plataformas li{
       padding: 0.5rem;
    }
}

.plataformas li:hover{
    background: #7772D3;
    transition: 1s;
}

.plataformas li a{
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-weight: 600;
}
@media screen and (max-width: 600px) {
    .plataformas li a{
       font-size: 12px;
    }
}

.main-banner .columna_2 img{
    width: 35rem;
}

.primero{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@media screen and (max-width: 600px) {
    .primero{
        padding: 2rem;
    }
}

.primero .columna_2{
    padding: 3rem;
}

.primero .columna_2 img{
    width: 100%;
}
@media screen and (max-width: 600px) {
    .primero .columna_2{
        padding: 0;
    }
    .primero .columna_2 img{
        transform: translateX(50%) scale(1.9);
    }
}

.plataformas{
    justify-content: center;
    list-style: none;
    text-decoration: none;
    font-size:14PX;
    text-align: center;
}


/* ---------------------SEGUNDA PARTE------------------ */


.contenedor_2{
    min-height: 80vh;
    box-sizing: border-box;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.parte_arriba{
    margin-top: 3rem;
}

.titulo_1{
    color: #472E56;
    text-align: center;
}

.subtitulo_1{
    color: #7772D3;
    font-size: 15px;
    font-weight: 200;
    text-align: center;
    padding-top: .5rem;
}

.contenedor_tarjetas{
    padding: 2rem;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.columna-iz{
    display: flex;
}

.card{
    padding: 2rem;
    background-color: #7772d377;
    border-radius: 2rem;
    margin: 1.5rem;
    overflow: hidden;
    width: 28rem;
    display: flex;
    gap: 2rem;
    transition: 0.5s;
}
.card:hover{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
@media screen and (max-width: 600px){
    .contenedor_tarjetas{
        display: block;
    }

    .card{
        width: auto;
        padding: 2rem;
        border-radius: 1rem;
        flex-direction: column;
        align-items: center;
    }
}

.left-column{
    max-width: 10rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@media screen and (max-width: 700px) {
    .left-column{
        display: inline-flex;
        align-items: center;
    }
}

.card .imagen{
    display: inline-block;
    max-width: 10rem;
}

.right-column p{
    padding-top: 1rem;
    color: white;
    font-size: 14px;
    font-weight: 300;
}
@media screen and (max-width: 700px) {
    .right-column p{
        font-size: 12px;
    }
}

.right-column a{
    text-decoration: none;
    font-size:14px;
    color: #472E56;
}
@media screen and (max-width: 700px) {
    .right-column a{
        font-size: 12px;
    }
}

.btn{
    padding-top: 1rem;
}

.columna-der{
    display: flex;
}

.contenedor_2 .descargar{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: white;
    align-items: center;
    justify-content: center;
    min-height: 10vh;
    padding-bottom: 4rem;
}
@media screen and (max-width: 700px) {
    .contenedor_2 .descargar{
        padding-bottom: 3rem;
    }
}

.contenedor_2 .descargar a{
    text-decoration: none;
    font-weight: 600;
    color: white;
    background-color: #472E56;
    padding: 1rem;
    padding-inline: 5rem;
    border-radius: 3rem;
    text-align: center;
}
@media screen and (max-width: 700px) {
    .contenedor_2 .descargar a{
        padding-inline: 3rem;
    }
}

.contenedor_2 .descargar a:hover{
    background: #7772D3;
    transition: 1s;
}


/*----------------------TERCERA PARTE--------------------*/


.second-banner{
    background-color: #472E56;
    display: flex;
    height: 70vh;
}
@media screen and (max-width: 800px){ 
    .second-banner{
        padding-block: 2rem;
        height: 75vh;
    }
}
@media screen and (max-width: 400px) {
    .second-banner{
        padding-block: 2rem;
        height: 85vh;
    }
}

.second-banner .columna_1 h1{
    text-align: left;
    margin-bottom: 2rem;
    color: white;
}
@media screen and (max-width: 800px){ 
    .second-banner .columna_1 h1{
        margin-bottom: 1rem;
    }
}

.second-banner .columna_1 h2{
    text-align: left;
    color: white;
    margin-bottom: 1rem;
    font-size: 25px;
}
@media screen and (max-width: 800px){ 
    .second-banner .columna_1 h2{
        font-size: 16px;
        margin-bottom: .5rem;
    }
}

.second-banner p{
    color: white;
    font-size: 15px;
}
@media screen and (max-width: 800px){ 
    .second-banner p{
        font-size: 12px;
    }
}

.tercero{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@media screen and (max-width: 600px) {
    .tercero{
        padding:1.5rem;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-around;
    }
}

.tercero .columna_2{
    display: inline-block;
    max-width: 15rem;
    min-height: 15rem;
}

.tercero .columna_2 img{
    width:100%;
    transform: translateX(20%) scale(1.5);
    display: flex;

}
@media screen and (max-width: 600px) {
    .tercero .columna_2{
        display: flex;
        overflow: hidden;
        align-items: center;
    }
    .tercero .columna_2 img{
        display: inline-block;
        transform: translateX(50%) scale(2);
        width: 45%;
    }
}

.tercero .btn{
    padding-top: 3rem;
}
@media screen and (max-width: 600px) {
    .tercero .btn{
        align-items: center;
    }
}

.tercero .btn a{
    text-decoration: none;
    font-weight: 600;
    color: white;
    background-color:#7772D3;
    padding: 1rem;
    padding-inline: 2rem;
    border-radius: 3rem;
    text-align: center;
}
@media screen and (max-width: 600px) {
    .tercero .btn a{
        padding: 1rem;
        padding-inline: 2.5 rem;
        align-items: center;
        text-align: center;
    }
}

.tercero .btn :hover{
    background-color: #FF7777;
    transition: 1s;
}

@media screen and (max-width: 600px) {
    .tercero .columna_1 .btn{
        text-align: center;
    }
}

.tercero p{
    padding-right: 2rem;
}


/*----------------------CUARTA PARTE -----------------------*/


.contenedor_4{
    background-color: white;
    display: flex;
    min-height: 55vh;
    height: 100%;
}

.contenedor_4 .tarjeta{
    padding: 2rem;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    margin-bottom: 3rem;
	border-radius: 2rem;
    background-color: #7772d377;
}
@media screen and (max-width: 600px) {
    .contenedor_4 .tarjeta{
        margin-top: 3rem;
    }
}

.contenido_4{
    align-items: center;
}

.titulo_4{
    color: #472E56;
    padding-inline: 1.5rem;
    margin-bottom: 1rem;
}
@media screen and (max-width: 700px) {
    .titulo_4{
       padding-inline: 0rem;
       margin-bottom: 0;
    }
}

.texto_4{
    color: #472E56;
    font-size: 15px;
    padding-inline: 1.5rem;
    padding-top: 1rem;
}
@media screen and (max-width: 700px) {
    .texto_4{
       font-size: 12px;
       padding-inline: 0rem;
    }
}


/*----------------------QUINTA PARTE -----------------------*/


.contenedor_redes{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: white;
    align-items: center;
    justify-content: center;
    min-height: 20vh;
}

.siguenos{
    color:#472E56;
    font-size: 15px;
    font-weight: 200;
    text-align: center;
    align-items: center;
    padding-bottom: 1rem;
    letter-spacing: .5px;
}

.barra_contactos{
    display: flex;
    text-align: center;
    font-weight: 600;
}

.barra_contactos_1{
    display: flex;
    align-items: center;
    text-align: center;
    background-color: #FF7777;
    padding: 0.5rem;
    padding-left:3rem;
    padding-right: 3rem;
    border-radius: 3rem;
}
@media screen and (max-width: 600px) {
    .barra_contactos_1{
    padding-left:1rem;
    padding-right:1rem;
    display: flex;
    }
}

.barra_contactos ul li {
    align-items: center;
    list-style: none;
    display: block;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
}
@media screen and (max-width: 600px) {
    .barra_contactos ul li{
    padding: 0.6rem;
    padding-block: 0rem;
    }
}

.barra_contactos ul li::after {
    content: '';
    width: 0%;
    height:4px;
    background: #472E56;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.barra_contactos ul li:hover::after{
    width: 100%;
}

.barra_contactos ul li a{
    text-decoration: none;
    color: white;
    font-size:14PX;
    align-items: center;
}
@media screen and (max-width: 600px) {
    .barra_contactos ul li a{
    font-size: 12px;
    }
}

